* {
    margin: 0;
    padding: 0;
}

body {
    padding: 1em;
    background-color: aliceblue;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    cursor: pointer;
}